*{ margin: 0; padding: 0; box-sizing: border-box;}


@keyframes intermitente {  /* reloj intermitente */
    0% { opacity: 0;}
    50% { opacity: 1; color: red;}
    100% { opacity: 0;}
}
.intermitente {  /* probando reloj intermitente */
    animation-name: intermitente;
    animation-duration: 1500ms;
    animation-iteration-count: infinite; 
}


body{
    /* background-color: rgba(226, 168, 43, 0.378); */
    background-image: url("../img/Pokemon/Fondo-pokemon.png");
    font-family: 'Bowlby One SC', cursive; background-attachment: fixed;
    background-repeat: no-repeat; background-size: cover;
}

.platos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center
}

#reloj {
    color: yellow;
    font-size: 40px;
}

.rejilla {
    margin: -1500px auto; 
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: all 1000ms ease-in-out;
}

.rejilla.start {margin: 0px auto}

.rejilla.out {margin: -1500px auto;}

#game-over {opacity: 0; margin: 40px auto; font-size: 140px; color: rgb(255, 0, 0); text-align: center;
position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); 
z-index: -5; transition: 2s all ease-in-out;}

.tarjeta {
    height: 150px;
    width: 150px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 400ms linear;

}

.anverso{
    height: 150px; width: 150px;
    /* background-image: url("../img/DisneyGema/LogoGemaStarlight.png"); */
    background-image: url("../img/pokemon/pokeball.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;    
    position: absolute;
    backface-visibility: hidden;
}

.reverso{
    height: 150px; width: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
    transform: rotateY(180deg);
    position: absolute;
    backface-visibility: hidden; 
}

.seleccionado {
    transform: rotateY(180deg);
}

.eliminado .anverso {background-image: none !important;}

#winner {
    font-size: 140px;
    color: yellow;
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition: all 1000ms ease-in-out;
    text-align: center;
}

#winner img { width: 750px; text-align: center; margin-top: 110px;}

#winner.open { top:50%;}

.cabecera{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 80px; */
    margin-top: 20px;
}

button{
    border: 4px solid yellow; color: yellow;
    color: yellow;
    font-size: 40px;
    padding: 10px 20px;
    background-color: rgb(0, 255, 123);
    border-radius: 10px;
    font-family: 'Bowlby One SC', cursive;
    z-index: 30;
}





@media (max-width: 540px){
    .tarjeta, .anverso, .reverso {
        height: 90px; width: 90px;
    }
    #reloj {font-size: 32px;}
    .cabecera 
    .rejilla {height: calc(100vh - 80px)}
}
